<a href="https://colab.research.google.com/github/elwickham/dsm-homework/blob/main/D%26SM_Analysis_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Week 2: Dataframes in Python with Pandas


Elissa Nakajima(Wickham)
1M181086-1

In [ ]:
#create two lists of integers
list1 = [1, 3, 11, 14, 67, 88]
list2 = [2, 4, 18, 22, 25, 56]

#make these two lists into two separate series
import pandas as pd
series1 = pd.Series(list1)
series2 = pd.Series(list2)

#merge the series
df = pd.concat([series1, series2], axis = 1) #axis = 0) 
#do you want to merge them on column or row? 0 and 1 look different, merging lengthwise vs merging row wise
#WHEN MERGING SERIES YOU WANNA USE AXIS 1
df.head()

In [ ]:
#read in trump file as pandas dataframe
trump = pd.read_csv('/content/drive/MyDrive/trump_insult_tweets_2014_to_2021.csv')
trumpframe = pd.DataFrame(trump)
#trumpframe.head()

#set first column as new index
#unnamed 0 is an ugly name omg, number is new first column name now, change column name and set index
trumpframe2 = trumpframe.rename(columns={'Unnamed: 0': 'number'}).set_index('number')
trumpframe2.head()

In [ ]:
#access cell in 1274th row in insult column
trumpframe2.loc[1274,'insult']

In [ ]:
#value of cell in 8
trumpframe2.values[8]

In [ ]:
#use range with a for loop to iterate through even integers up to and including 100 starting from and including 1. 
#use conditionals (if statements) to create a new list from this information of the integers that are divisible by 4. 
#use loc to access the rows with the indexes in the list you just created and save it as a new dataframe.

newlist = []
#newlist = [a for a in range (1, 101) if a % 4 == 0]

for a in range(1, 101):
  if a % 4 == 0:
    newlist.append(a)
#print(newlist)

trumpframe3 = trumpframe2.loc[newlist]
trumpframe3.head()

In [ ]:
dfdict = {index_label: row_series for (index_label, row_series) in trumpframe2.iterrows() if index_label in newlist}
newdf = pd.DataFrame(dfdict).T

#.T for transpose, really important when dealing with dataframes
#from matrices, sometimes you need to switch rows and columns in matrices in algebra
## when we're transposing a dataframe, the concept is really similar
## if you try it without the .T, it looks wrong

newdf.head()

## Week 3: Manipulating Data With Pandas

In [ ]:
#how many dimensions are there in this array?
import numpy as np
arr = np.array([[[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]]])
print(arr.ndim)

In [ ]:
#read in the same Trump insults file as last week. 
#similarly to last week set the first column as index. 
#can this be done at the same time you read the file in? 

import pandas as pd
insult = pd.read_csv('/content/drive/MyDrive/trump_insult_tweets_2014_to_2021.csv',index_col = 0)
insultfr = pd.DataFrame(insult)
insultfr.head()

In [ ]:
#access the 3456th row in the target column using both loc and iloc. how does the syntax change?
insultfr.values[3456]

In [ ]:
insultfr.loc[3457, 'target']

In [ ]:
insultfr.iloc[3456, 1]

In [ ]:
#save the Boolean value of the check if the data is after January 1, 2016 in a new column. 
#this should result in a dataframe identical to the old one, 
#but with an extra column with the value True if the date is after 2016 and False if it is before 2016.type

insultfr['2016&after'] = insultfr['date'] > '2016-01-01'
insultfr.head(-1)

In [ ]:
#create one more new colulmn that has the values True/False 
#depending on whether the date is after 2014 AND the insult is "Dumb".

insultfr['dumb&after2014'] = (insultfr['date'] >= '2014-01-01') & (insultfr['insult'] == "dumb")
insultfr.head(-1)

In [ ]:
insultfr.loc[insultfr.insult == 'dumb']

In [ ]:
#how many instances of Trump calling someone "dumb" are there in the data regardless of date?
instances = len(list(insultfr.loc[insultfr.insult == 'dumb']))
print(instances)

In [ ]:
#how many different insults does Trump use in this data?
x = insultfr['insult'].value_counts()

print(len(x))

In [ ]:
#how many different entities (people, organizations, etc) does he insult?
#who does he insult the most?

y = insultfr['target'].value_counts()
print(len(y))

In [ ]:
print(insultfr.target.mode())

## Week 4: Grouping and sorting with pandas

In [ ]:
#Read in the student exam performance csv file and set the first column as index

import pandas as pd
import numpy as np

scores = pd.read_csv('/content/Student Performance new.csv', index_col = 0)
scores.head()

In [ ]:
scoresR = scores.rename(columns={"race/ethnicity": "race","parental level of education":"paredu","test preparation course":"prep"})
scoresR = scoresR.rename(columns={"math percentage": "math","reading score percentage":"reading","writing score percentage":"writing"})

#Use groupby to sort the data to show the mean (average) math score for each level of parental education  
##Which level has the highest vs. lowest scores? 

scoresR.groupby('paredu').math.mean()

In [ ]:
##Does the educational background of the parents have the same influence on reading and writing scores?

scoresR.groupby('paredu').reading.mean()

In [ ]:
scoresR.groupby('paredu').writing.mean()

In [ ]:
##Adjust the race values for parental education. 
##That is, sort by parental education and then race,and then get the aggregate values (len, min, max, mean, and standard devation)

scores2 = scoresR.groupby(["paredu","race"]).reading.agg([len, min, max,np.std,np.mean])
scores2

In [ ]:
scores3 = scoresR.groupby(["paredu","race"]).writing.agg([len, min, max,np.std,np.mean])
scores3

In [ ]:
 ##Extra: Check for statistical significance of gender on reading scores.
 scores4 = scoresR.groupby(["sex"]).reading.agg([len, min, max,np.std,np.mean])
 scores4

In [ ]:
!pip install researchpy
!pip install scipy

In [ ]:
import researchpy as rp
import scipy as sp

In [ ]:
import scipy.stats as stats
stats.ttest_ind(a = scoresR.reading[scoresR.sex == 'F'], b = scoresR.reading[scoresR.sex == 'M'])

In [ ]:
## Extra: Check for statistical significance of parents' college degree (BA or MA) on math scores. 
##(Hint: you can use from scipy.stats import ttest_ind for t-tests) 

stats.ttest_ind(a = scoresR.math[scoresR.paredu == "bachelor's degree"], b = scoresR.math[scoresR.paredu == "master's degree"])

##Week 5: Visualization

In [ ]:
#Import seaborn and matplotlib in addition to pandas and numpy.

import pandas as pd
import numpy as np
import seaborn as sns                       
import matplotlib.pyplot as plt

In [ ]:
 #scores = pd.read_csv('/content/Student Performance new.csv', index_col = 0)

In [ ]:
#Use the binary data from last week with the parents' level of education to check for a correlation with math, reading, and writing scores. 
#Your correlation matrix should be a 4x4 matrix. Pick a color scheme that you like and that we haven't used in class yet. 

scores = scoresR
scores['paredu'] = scores['paredu'].astype('category').cat.codes

s = scores.corr()
plt.figure(figsize=(10,5))
sns.heatmap(s, cmap = "Pastel1", annot = True)
s

In [ ]:
#Create a scatterplot that shows the parents' level of education on the y axis and the math score on the x axis. 
#Why does this scatterplot not work as well as it might? 

plt.figure(figsize=(10,5))
sns.scatterplot(data = scores, x = 'math', y= 'paredu')
#scatterplot looks bad when math is on x-axis; hard to read

In [ ]:
##Can you think of a better visualization to present this data? 

plt.figure(figsize=(10,5))
plt.xticks([0, 1, 2, 3, 4, 5], ["associate's", "bachelor's", "high school", "master's", "some college", "some high school"])
sns.scatterplot(data = scores, x = 'paredu', y= 'math', hue = 'lunch')

#easier to see with paredu on x-axis, but still hard to see

In [ ]:
#boxplot with paredu on x-axis?
plt.figure(figsize=(15,10))
sns.boxplot(data = scores , x = 'paredu', y = 'math')
plt.xticks([0, 1, 2, 3, 4, 5], ["associate's", "bachelor's", "high school", "master's", "some college", "some high school"])

In [ ]:
##Create dummy scores for the lunch data 
new_scores = pd.get_dummies(scores, columns = ['lunch'], drop_first = True, prefix = 'Dummy', prefix_sep ="*" )

#dummy score is 0 when it's discounted or free

#and check for a correlation with reading scores.

scores2 = new_scores.corr()
scores2.style.background_gradient(axis=0)

#plt.figure(figsize=(12,8))
#plt.xticks([0, 1, 2, 3, 4, 5], ["associate's", "bachelor's", "high school", "master's", "some college", "some high school"])
#sns.scatterplot(data = scores, x = 'paredu', y= 'reading', hue = 'lunch')

##Week 6: Data Scraping

In [ ]:
#Question 1: Read in the JSON file on Moodle.
import json 
import pandas as pd 
from pandas import json_normalize

with open('/content/raw_nyc_phil.json') as f:
  d = json.load(f)

In [ ]:
#Question 2: Flatten the JSON file until there's nothing to flatten anymore (keep all the data in the same dataframe).
nycphil = json_normalize(d['programs'])
nycphil.head(5)

#Question 3: How many times did you flatten it?
## 3 times (works, soloists, concerts data)

In [ ]:
works_data = json_normalize(data=d['programs'], record_path= 'works', 
                            meta=['id', 'orchestra','programID', 'season'])
works_data.head(5)

In [ ]:
soloist_data = json_normalize(data=d['programs'], record_path= ['works','soloists'], 
                              meta=['id','orchestra','programID', 'season'])
soloist_data.head(5)

In [ ]:
concerts_data = json_normalize(data=d['programs'], record_path='concerts', 
                            meta=['id', 'orchestra','programID', 'season'])
concerts_data.head(5)

In [ ]:
#Question 4: Choose a video on Youtube and scrape the comments from that video.
!pip install selenium
!apt-get update 
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [ ]:
import time
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [ ]:
data = []
wait = WebDriverWait(wd, 15)
wd.get('https://www.youtube.com/watch?v=E_htODUuPlc') 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  data.append(comment.text)

In [ ]:
import pandas as pd   
comments = pd.DataFrame(data, columns=['comment'])

#Question 5: What file format is the data?
type(data)

In [ ]:
#BONUS 6: Tokenize the comments.

comments2 = comments['comment'].to_string()
import nltk, re, pprint
from nltk import word_tokenize

nltk.download('punkt')
tokens = word_tokenize(comments2)

In [ ]:
#BONUS 7: How many tokens are there?
print(f'There are {len(tokens)} tokens!')

##Week 7 Exploratory Data Analysis
***No HW***

##Week 8 Take Home Exam

In [ ]:
#Read in the ramen ratings file as a dataframe
#set appropriate index and column names and print out an overview of the dataframe

import pandas as pd
import numpy as np

data = pd.read_csv('ramen-ratings.csv', index_col = 0)
ramen = pd.DataFrame(data)
ramen = ramen.rename(columns = {'Stars': 'Rating'})

print(ramen.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 2580 to 1
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2580 non-null   object
 1   Variety  2580 non-null   object
 2   Style    2578 non-null   object
 3   Country  2580 non-null   object
 4   Rating   2580 non-null   object
 5   Top Ten  41 non-null     object
dtypes: object(6)
memory usage: 141.1+ KB
None

In [ ]:
ramen.head()

                   Brand  ... Top Ten
Review #                  ...
2580           New Touch  ...     NaN
2579            Just Way  ...     NaN
2578              Nissin  ...     NaN
2577             Wei Lih  ...     NaN
2576      Ching's Secret  ...     NaN

[5 rows x 6 columns]

In [ ]:
#Print a subset of the dataframe that only has the information of the brand of ramen and its score 

x = ramen[['Brand', 'Rating']]
print(x)

                   Brand Rating
Review #
2580           New Touch   3.75
2579            Just Way      1
2578              Nissin   2.25
2577             Wei Lih   2.75
2576      Ching's Secret   3.75
...                  ...    ...
5                  Vifon    3.5
4                Wai Wai      1
3                Wai Wai      2
2                Wai Wai      2
1               Westbrae    0.5

[2580 rows x 2 columns]

In [ ]:
#Oh no, it seems the last column is full of null values. Convert these to NaN.

ramen.fillna(value = np.nan)
ramen.head()

                   Brand  ... Top Ten
Review #                  ...
2580           New Touch  ...     NaN
2579            Just Way  ...     NaN
2578              Nissin  ...     NaN
2577             Wei Lih  ...     NaN
2576      Ching's Secret  ...     NaN

[5 rows x 6 columns]

In [ ]:
#Display only the rows where the brand is Nissin and the rating is above 3.5 (some data type conversion might be necessary)

ramen.loc[(ramen.Rating >= '3.5') & (ramen.Brand == 'Nissin')]

           Brand  ... Top Ten
Review #          ...
2567      Nissin  ...     NaN
2566      Nissin  ...     NaN
2560      Nissin  ...     NaN
2553      Nissin  ...     NaN
2549      Nissin  ...     NaN
...          ...  ...     ...
70        Nissin  ...     NaN
28        Nissin  ...     NaN
27        Nissin  ...     NaN
26        Nissin  ...     NaN
23        Nissin  ...     NaN

[305 rows x 6 columns]

In [ ]:
#Group the ramen by brand and calculate the mean, max, and min values in a single output.

ramen['Rating'] = pd.to_numeric(ramen['Rating'], errors = 'coerce')
ramen.groupby(['Brand']).Rating.agg([np.mean, max, min])

                      mean   max   min
Brand
1 To 3 Noodles    4.000000  4.00  4.00
7 Select          3.750000  4.00  3.50
7 Select/Nissin   3.500000  3.50  3.50
A-One             2.750000  3.50  1.25
A-Sha Dry Noodle  4.067308  5.00  2.00
...                    ...   ...   ...
Yum Yum           3.750000  5.00  3.00
Yum-Mie           3.500000  3.50  3.50
Zow Zow           3.750000  3.75  3.75
iMee              3.500000  4.50  2.75
iNoodle           3.000000  3.75  2.25

[355 rows x 3 columns]

In [ ]:
#What is the mode rating for all ramen?

ramen.Rating.mode()

0    4.0
dtype: float64

In [ ]:
#Groupby brand and variety. Can you figure out a way to display this information in descending order (highest to lowest)? #Which has the highest average?

ramen2 = ramen.groupby(['Brand', 'Variety']).Rating.agg([np.mean])
ramen2.sort_values(by = 'mean', ascending = False)

                                                     mean
Brand         Variety
Indomie       Mi Goreng Jumbo Beef                    5.0
Sun Noodle    Ramen Miso Flavor                       5.0
Samyang Foods Nagasaki Crab Jjampong                  5.0
Dream Kitchen Curry Flavour Instant Noodles           5.0
Nissin        Raoh Rich Miso Flavor                   5.0
...                                                   ...
Samyang Foods Honey & Cheese Big Bowl                 0.0
Uni-President Mushroom Flavor                         0.0
Mi E-Zee      Plain Noodles                           NaN
Ottogi        Plain Instant Noodle No Soup Included   NaN
Samyang Foods Sari Ramen                              NaN

[2520 rows x 1 columns]

In [ ]:
#How many different brands of ramen are included in the dataset?

ramen.Brand.value_counts()

Nissin           381
Nongshim          98
Maruchan          76
Mama              71
Paldo             66
                ...
Plats Du Chef      1
Kim Ve Wong        1
Pamana             1
Lipton             1
Sunlight           1
Name: Brand, Length: 355, dtype: int64